<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>[object SVGSymbolElement]</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
<html></html>
</div>
</body>
<head></head>
<body>
<div id="header"></div>
<div class="left"></div>
<div class="stuff"><br><br>
<h1>Resume</h1><br>
<h2>Cheena Maxine G. Silva</h2>
<hr><br>
<p class="head">Interests</p>
<ul>
<li>Playing Musical Instrument</li>
<li>Watching Movie</li>
<li>Graphic Design</li>
<li>Modeling</li>
</ul><br>
<p class="head">Skills</p>
<ul>
<li>Basic Web Design using HTML &amp; CSS</li>
</ul><br>
<p class="head">Education</p>
<ul>
<li>Dee Hwa Liong College Foundation</li>
<a href="https://www.auf.edu.ph/">
<li>Angeles University Foundation-Integrated School </li>
</a>
<a href="https://www.hau.edu.ph/">
<li>Holy Angel University</li>
</a>
</ul><br>
<p class="head">Contact</p>
<li>+63 935 777 0351</li>
<li>cheena.silva2@gmail.com</li>
</div>
<div class="right"></div>
<div id="footer">
<h2 id="name">2091-CMS, WD-201</h2>
</div>
</body>
</html>